name: Workflow
on:
  push:
    branches:
      - feature-clase1

jobs:
  SAST:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Set Envitonment Variables
        run: echo "BRANCH_NAME=${{ github.ref_name }}" >> $GITHUB_ENV
      
      - name: Validate and Configure build.gradle
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          if [ -f "build.gradle" ]; then
            echo "Encontro el archivo"
            echo "Verigicando configuraci칩n del plugin sonar"
            if ! grep -q 'id "org.sonarqube" version "3.3"' build.gradle; then
              sed -i '/id '\''java'\''/a \ \ \ \ id '\''org.sonarqube'\'' version '\''3.3'\''' build.gradle
              echo "No se encuentra Plugin configurado"
              echo "Plugin de Sonarcloud acaba de ser a침adido a build.gradle"
              cat build.gradle
            else
              echo "Plugin de Sonarcloud ya est치 configurado en build.gradle"
            fi
          
            
          else
            echo "no se encontro archivo build.gradle"
            exit 1
          fi

      - name: Validando existencia de proyecto en SonarCloud
        id: validateProjectOnSonar
        run: |
          #pwd
          #ls -R
          set +e
          curl -f -X POST -u '${{ secrets.SONAR_TOKEN }}:' 'https://sonarcloud.io/api/projects/create' -d 'name=${{ github.event.repository.name }}' -d 'project=${{ github.event.repository.name }}' -d 'organization=jorgeavm' -d 'visibility=public'
          if [ $? -ne 0 ]; then
            echo "Proyecto ya existe en Sonarcloud"
            echo "project_created=false" >> $GITHUB_ENV
          else
            echo "Proyecto ${{ github.event.repository.name }} creado exitosamente en Sonarcloud"
            
            echo "Se establece rama main como rama por defecto"
            curl -X POST -u '${{ secrets.SONAR_TOKEN }}:' 'https://sonarcloud.io/api/project_branches/rename' -d 'name=main' -d 'project=${{ github.event.repository.name }}'
            echo "project_created=true" >> $GITHUB_ENV
          fi
          set -e    

     # - name: Validate and Create SonarCloud Project
     #   id: validate-project
     #   env:
     #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
     #     REPO_NAME: ${{ github.event.repository.name }}
     #   run: |
     #     echo "Verificando si el proyecto $REPO_NAME existe en SonarCloud"
     #     response=$(curl -s -o /dev/null -w "%{http_code}" -u "$SONAR_TOKEN:" \
     #       "https://sonarcloud.io/api/projects/search?projects=$REPO_NAME")

     #     if [ "$response" -ne 200 ]; then
     #        echo "El proyecto no existe. Cre치ndolo en SonarCloud"
     #        create_response=$(curl -s -w "%{http_code}" -o /dev/null -X POST -u "$SONAR_TOKEN:" \
     #          "https://sonarcloud.io/api/projects/create" \
     #         -d "name=$REPO_NAME" \
     #         -d "project"="$REPO_NAME" \
     #         -d "organization=jorgeavm" \
     #         -d "proyect=public" )
     #       
     #       if [ "$response" -ne 201 ]; then
     #         echo "Proyecto creado exitosamente"
     #       fi
     #
     #       echo "Estableciendo rama main por defecto"
     #       curl -s -f -X POST -u "$SONAR_TOKEN:" \
     #         "https://sonarcloud.io/api/project_branches/rename" \
     #         -d "name=main"
     #         -d "project=$REPO_NAME"
     #       echo "project_created=true" >> $GITHUB_ENV
     #     else
     #       echo "El proyecto ya existe en sonar"
     #       echo "project_created=false" >> $GITHUB_ENV
     #     fi



